/* *********************************** */
@import url(normalize.min.css);
@import url(reset.css);

/* *********************************** */
/* *** ESTILOS GENERALES *** */
/* *********************************** */

/* Tipografía */
@font-face {
    font-family: "";
    src: url("") format("woff2"), url("") format("woff");
}

/* ******************************** */
/* VARIABLES */


/* ******************************** */

/* HEADER */

/* NAV */
nav.menu-principal {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    & .menu-principal__logo-link {
        display: flex;
        justify-content: space-between;
        align-items: end;
    }
}
/* CARRUSEL */
.main__carrusel {
  display: none;
}


/* MQ */
/* IPAD */
@media screen and (min-width: 48rem) and (orientation: portrait) {
  
    nav.menu-principal {
      height: revert;
        flex-direction: row;
        justify-content: space-between;
        align-items: start;
        
        border-bottom: 1px solid grey;
        
        & .menu-principal__logo-link {

          & .menu-principal__logo{
            display: none;
          }
        }

        & .menu-principal__parrafo{
          flex-basis: 40%;
          background: url(../svg/logoFondo.svg) no-repeat center center;
          background-size: 90% 90%;
        }
      }
    }
    
    /* DESKTOP */
    @media screen and (min-width: 75rem) {
      /* CENTRADO */
      header, .main__texto, .footer__contenido{
        max-width: 1366px;
        margin: 0 auto;
      }
      nav.menu-principal {
        height: revert;
        flex-direction: row;
        justify-content: space-between;
        align-items: start;
        
        & .menu-principal__logo-link {
          display: flex;
          flex-direction: row-reverse;
          
          & .menu-principal__logo{
            display: revert;
          }
        }
        & .menu-principal__parrafo{
          flex-basis: 40%;
          order: 1;
        }
    }
    /* CARRUSEL */
    .main__carrusel {
      display: flex;
      justify-content: space-between;
    }

    /* FOOTER */


}